@media only screen and (min-width:768px) and (max-width:992px){
.one{
    width: 194%;
}
.two{
    width: 75%;
}
.login_signup{
    font-size: x-large;
}
.login_signup button{
    width: 131px;
    font-size: large;
    height: 52px;
}
.head hr{
    display: none;
}
.about{
    display: none;
}
.bars{
    display: block;
}
.image img{
    padding-left: 70px;
    width: 709px;
    height: 736px;
    margin-top: 82px;
    margin-left: 40px;
}
.texts h1{
    font-size: 49px;
    width: 459px;
}
}


