@media only screen and (max-width:992px){

    .texts h1{
        font-size: 50px;
    }
    .one{
        width: 133%;
    }
    .two{
        font-size: x-large;
    }
    .head ul{
        font-size: xx-large;
    }
    .login_signup button{
        height: 60px;
    width: 150px;
    font-size: smaller;
    }
    .texts{
        margin-right: 20px;
    }
    .texts h5{
        
    font-size: x-large;
    margin-top: 70px;
    }
    .texts h1{
        font-size: 50px;
        width: 427px;
    }
    .texts p{
        font-size: x-large;
        width: 400px;
    }
    .signinlearn{
     font-size: x-large;
    }
    .signinlearn button{
        height: 60px;
        width: 165px;
        font-size: large;
    }
}