@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
}
.container nav h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  font-family:"Dela Gothic One" ;
  margin-left: 260px;
}
.container nav {
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}
.container nav hr {
  margin: auto;
  width: 3px;
  height: 15px;
  margin-right: 5px;
  background-color: black;
  opacity: 0.1;
  margin-left: 41px;
}
.container nav ul {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 18px;
  margin-right: 393px;
}
.container nav ul a {
  text-decoration: none;
  color: #585858;
}
.loginandSignUp {
  display: flex;
  margin-top: 10px;
  margin-right: 90px;
}
.loginandSignUp h4 {
  width: 80px;
  font-size: 18px;
  margin-top: 18px;
  margin-right: 10px;
}
.loginandSignUp h4 a{
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.loginandSignUp button {
  width: 128.09px;
  height: 51.22px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 17px;
  background-color: #2b788b;
  border: none;
}
.loginandSignUp h4 i {
  height: 5px;
  width: 5px;
}

.sec #img1 {
  position: absolute;
  left: 67.77%;
  right: 4.31%;
  top: 15.89%;
  bottom: 7.29%;
  height: 600.1px;
}
.sec #img2 {
  position: absolute;
  left: 49.09%;
  right: 5.1%;
  top: 14.85%;
  bottom: 18.43%;
  height: 520.28px;
  width: 620.03px;
}
.sec #img3 {
  position: absolute;
  left: 43.52%;
  right: 65.37%;
  top: 35.96%;
  bottom: 39.25%;
  height: 200.22px;
}
.texts p {
  width: 200px;
  color: #2b788b;
 font-family: 'Roboto', sans-serif;
  margin: 45px 1403px 620px 237px;
  text-transform: uppercase;
}
.texts h1 {
  position: absolute;
  top: 175px;
  left: 233px;
  font-family: "Dela Gothic One";
  font-size: 45.241px;
  width: 450px;
}
.texts h5 {
  position: absolute;
  top: 400px;
  left: 233px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16.241px;
  width: 300px;
  opacity: 4, 14;
  color: #585858;
}
.btn {
  display: flex;
  position: absolute;
  align-items: center;
  top: 470px;
  left: 230px;
}
.btn p {
  width: 80px;
  font-family: 'Roboto', sans-serif;
}
.btn button {
  width: 150px;
  background: #c3dce3;
  border-radius: 14.0304px;
  color: #2b788b;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 16px;
}
.Numbers{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 550px;
    left: 230px;
}
.Numbers h1{
font-family:"Dela Gothic One" ;
    width: 75px;
    font-size: 35px;
}
.Numbers hr{
    margin-top: 15px;
    margin-left: 90px;
    height: 30px;
margin-right: 60px;
border: 1.4192px solid #E0E0E0;
}
.users{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    top: 594px;
    left: 247px;
    font-size: 19px;
}
.users  #p1{
margin-left: 150px;
}